{% extends 'AhonymousBlogBundle::main.html.twig' %}

{% block content -%}
    {{ parent() }}
    <h1 class="blog-title">Article creation</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.body) }}
        {{ form_row(form.author) }}
        <ul class="category">
            {% for category in form.categories %}
                <li>{{ form_row(category.name) }}</li>
            {% endfor %}
        </ul>
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
