{% extends 'AhonymousBlogBundle::main.html.twig' %}

{% block title %}{{ article.name }}{% endblock title %}

{% block content -%}
    {{ parent() }}
    <div class="blog-post">
        <h1 class="blog-title">{{ article.name }}</h1>


        <img src="{{ article.image | default("/defaultArticleImage.png")}}" class="img-thumbnail">
        <p class="blog-post-body">
                {{ article.body|nl2p("blog-post-body")|raw }}
        </p>

        <p class="blog-post-meta">
            {{ article.created|date('d M Y') }}
        </p>

        {% for category in article.categories %}
            <strong>{{ category }}&nbsp;</strong>
        {% endfor %}
        <hr>
        <p class="blog-post-meta">
            <a href="{{ path('article_edit', { 'slug': article.slug }) }}">
                Edit
            </a>&nbsp;&nbsp;&nbsp;
            <a href="{{ path('home') }}" >
                Back to the list
            </a>
            {{ form(delete_form) }}
        </p>
    </div>
{% endblock %}
