{% extends 'AhonymousBlogBundle::main.html.twig' %}

{% block title %}Home{% endblock title %}

{% block content %}
    {% for article in articles %}
        <div class="blog-post">
            <h2 class="blog-title">
                <a href="{{ path('article_show', { 'slug': article.slug }) }}">
                    {{ article.name }}
                </a>
            </h2>
            <p class="blog-post-meta">
                {{ article.updated|date('M d Y') }},
                {{ article.author }}
            </p>
            <p>
                {{ article.body|endsWord(200)|nl2p("blog-post-body")|raw }}
            </p>
            <div class="blog-post-meta">
                {% for category in article.categories %}
                    {{ category }}&nbsp;
                {% endfor %}</div>
            <hr>
            <a href="{{ path('article_show', { 'slug': article.slug }) }}">
                Read more
            </a>
        </div>

    {% endfor %}
    <div class="pagerfanta">
        {{ pagerfanta(articles, 'twitter_bootstrap3') }}
    </div>
{% endblock content %}

{% block sidebar %}
    <div class="sidebar-module sidebar-module-inset">
        <h4>Last Articles</h4>
    {% for last_article in sidebar_last %}
        <a href="{{ path('article_show', { 'slug': last_article.slug }) }}">{{ last_article.name }}</a>

    {% endfor %}
    </div>
{% endblock sidebar %}